<section class="about section" id="about">
    <div class="container container--content">
        <h2 class="title"><span class="title--accent"> Bohemia.shop</span> - Все прекрасное в одном месте</h2>
        <p class="about__text">
            Богемское стекло известно во всем мире уже не одно столетие. Посуда Bohemia – это сочетание вековой
            истории и современных технологий. Именно поэтому чешская посуда Богемия популярна далеко за пределами
            Чешской Республики. Не исключением является и Украина.
        </p>
        <p class="about__text">
            Конечно, купить посуду Богемия Вы можете и в магазине или на специализированных посудных рынках. Но, это
            займет немало времени и усилий. И, далеко не во всех городах так легко можно найти качественную
            стеклянную посуду Bohemia. Именно поэтому предлагаем купить все, что Вы ищите в нашем интернет-магазине
            bohemia.co.ua. Ваши заказы мы принимаем из каждого города Украины, будь то Киев, Харьков, Одесса,
            Днепропетровск, Львов или любой другой город. Постоянно отслеживаем динамику цен и незамедлительно
            реагируем на их снижение, чтоб Вы купили товар по самой низкой цене. Помимо низких цен на товары, в нас
            постоянно проводятся акции.
        </p>
        <p class="about__text">
            Для Вашего удобства мы собрали самые известные чешские бренды посуды из богемского стекла в одном
            каталоге. Все торговые марки, представленные в интернет-магазине, уже давно зарекомендовали себя, как
            производители исключительно высококачественной стеклянной посуды. Каталог товаров очень удобный. В нем
            Вы найдете все, что ищите, начиная от стопок и заканчивая вазами и графинами.
        </p>
        <img class="about__images" src="images/content/about-img.jpg" alt="images wineglass">
    </div>
</section>