<section class="banner" id="home" style="background-image: url('images/background/banner-bg.jpg');">
    <div class="container">
        <div class="banner__wrap">
            <div class="banner__content">
                <h1 class="banner__title">
                    <span class="banner__title-top">Welcome to</span>
                    Bohemia Cristal Shop
                </h1>
                <ul class="social">
                    <li class="social__item">
                        <a class="social__link" href="#" target="_blank">
                            <span class="sr-only">переход на наш сайт в телеграм</span>
                            <svg class="social__icon social__icon--fb" width="48" height="48">
                                <use xlink:href="images/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#" target="_blank">
                            <span class="sr-only">переход на наш сайт в facebook</span>
                            <svg class="social__icon social__icon--fb" width="48" height="48">
                                <use xlink:href="images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link social__link--tw" href="#" target="_blank">
                            <span class="sr-only">переход на наш сайт в twitter</span>
                            <svg class="social__icon social__icon--tw" width="48" height="48">
                                <use xlink:href="images/sprite.svg#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link social__link--you" href="#" target="_blank">
                            <span class="sr-only">переход на наш сайт в youtube</span>
                            <svg class="social__icon social__icon--you" width="48" height="48">
                                <use xlink:href="images/sprite.svg#youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>