<section class="company" style="background-image: url('images/background/company-bg.png');">
    <div class="container container--content">
        <h2 class="title">Посуда <span class="title--accent">Bohemia</span>– прилашает в мир изящества и красоты</h2>
        <div class="company__wrap">
            <div class="company__text-wrap">
                <p class="company__text">
                    Продукцию Вohemia официальный сайт представляет в полном объеме. Здесь Вы можете выбрать любую
                    подходящую по назначению и вкусовым предпочтениям посуду, которая будет выполнять свои прямые
                    функции, отлично украсит Ваш интерьер:
                </p>
                <ul class="company__text-list">
                    <li>
                        емкости для напитков. Каждый напиток предполагает свой специфический бокал определенной формы,
                        размера, что способствует лучшему восприятию вкусовых качеств употребляемой жидкости. Коньяк,
                        шампанское, вино, ликер, пиво - все можно подать в соответствующей посуде Богемия каталог
                        которой наглядно продемонстрирует все возможные варианты этого вида хрусталя;
                    </li>
                    <li>
                        различные салатницы, фруктовницы, декорирующие предметы. Купить посуду Богемия возможно для
                        каждого блюда и сервировка стола будет изысканной, вызовет восхитительные отзывы присутствующих;
                    </li>
                    <li>
                        подарочные экземпляры. Вohemia хрусталь всегда превосходный и ценный подарок родным, близким,
                        который Вам поможет выбрать сайт Богемия.
                    </li>
                </ul>
            </div>
            <div class="company__inner">
                <a class="company__link-video" data-fancybox href="https://youtu.be/9XJ_-cTFBTE"
                    style="background-image: url('images/background/video-bg.jpg')">
                    <span class="sr-only">quality cookware video bohemia</span>
                </a>
                <div class="company__btn-wrap">
                    <a class="company__btn btn" href="#">
                        <svg width="18" height="18">
                            <use xlink:href="images/sprite.svg#check-square"></use>
                        </svg>
                        Check оfficial registration
                    </a>
                </div>
            </div>
        </div>
        <p class="company__text">
            Разнообразный ассортимент предлагает магазин Богемия. У нас изделия Вohemia купить можно по самой
            адекватной цене, а заказать их с доставкой – самое правильное решение. Где бы Вы не находились -
            Киев, Харьков, Одесса, Днепр, Львов или в любом другом городе Украины, свой выбранный товар получите
            незамедлительно, в самые короткие сроки.
        </p>
        <div class="company__wrapper">
            <h3 class="company__title">
                Отзывы клиентов
            </h3>
            <a class="company__link btn" href="#">Bohemia.shop</a>
        </div>
        <ul class="company__video-list">
            <li class="company__video-item">
                <a class="company__video-link" data-fancybox href="https://youtu.be/KraMUa003Qc"
                    style="background-image: url('images/background/video-1.jpg')">
                    <span class="sr-only">наши покупатели которые уже попробовали товар</span>
                </a>
            </li>
            <li class="company__video-item">
                <a class="company__video-link" data-fancybox href="https://youtu.be/ZnP7OQorAJw"
                    style="background-image: url('images/background/video-2.jpg')">
                    <span class="sr-only">наши покупатели которые уже попробовали товар</span>
                </a>
            </li>
            <li class="company__video-item">
                <a class="company__video-link" data-fancybox href="https://youtu.be/3yXrfaBYtqo"
                    style="background-image: url('images/background/video-3.jpg')">
                    <span class="sr-only">наши покупатели которые уже попробовали товар</span>
                </a>
            </li>
            <li class="company__video-item">
                <a class="company__video-link" data-fancybox href="https://youtu.be/Qvaga-fTYmQ"
                    style="background-image: url('images/background/video-4.jpg')">
                    <span class="sr-only">наши покупатели которые уже попробовали товар</span>
                </a>
            </li>
        </ul>
    </div>
</section>