<section class="direction section">
    <div class="container">
        <h2 class="title">Почеу именно мы</h2>
        <p class="direction__text">
            На протяжении нескольких столетий радуют своих почитателей шедевры из богемского стекла. Они ценятся за
            редкую утонченность, хрустальный перезвон и неоспоримую уникальность. Многие великие мира сего предпочитают
            видеть чешский хрусталь Богемия на своем праздничном столе, любуясь и давая любоваться им всем окружающим.
            Немного истории
        </p>
        <p class="direction__text">
            Еще в далеком 13 веке появилась первая посуда Bohemia. Это были качественные, созданные из природных
            компонентов, изделия, но производились в небольших количествах. И только, начиная с 17 столетия, когда
            появляются более прогрессивные технологии, чешское стекло Богемия стало известным во всех странах Европы.
            Сегодня, благодаря превосходным достоинствам, творения чешских стеклодувов завоевали всемирную известность.
        </p>
        <ul class="direction__list">
            <li class="direction__item" style="background-image: url('images/icons/glass.svg');">
                <h3 class="direction__title">
                    Прозрачность
                </h3>
                <p class="direction__item-text">
                    Стекло абсолютно бесцветное, что достигнуто добавлением определенного количества пиролюзита. Данный
                    минерал придает особый блеск стеклянным предметам, предотвращает появление мутности, делая изделия
                    идеально прозрачными.
                </p>
            </li>
            <li class="direction__item" style="background-image: url('images/icons/melodi1.svg');">
                <h3 class="direction__title">
                    Мелодичность звука
                </h3>
                <p class="direction__item-text">
                    Прикосновении можно услышать кристально-чистое звучание, напоминающее камертон, с медленно убывающей
                    амплитудой. Это один из признаков подлинности богемского стекла.
                </p>
            </li>
            <li class="direction__item" style="background-image: url('images/icons/about-check.svg');">
                <h3 class="direction__title">
                    Однородность
                </h3>
                <p class="direction__item-text">
                    Богемия чешский хрусталь состоит из грамотно подобранных элементов, что исключает попадание воздуха
                    и инородных частиц. Даже цветное богемское стекло обладает равномерным заданным оттенком, без
                    каких-либо погрешностей.
                </p>
            </li>
            <li class="direction__item" style="background-image: url('images/icons/price-tags.svg');">
                <h3 class="direction__title">
                    Стоимость
                </h3>
                <p class="direction__item-text">
                    Посуда из Чехии Богемия привлекает также доступной ценой. Каждый желающий может приобрести недорого
                    эти качественные, с превосходным дизайном, предметы сервировки стола.
                </p>
            </li>
        </ul>
    </div>
</section>