<section class="feedback section" id="contact">
    <div class="container">
        <h2 class="title">Наши контакты и обратная связь</h2>
        <div class="feedback__inner">
            <div class="feedback__form">
                <h3 class="feedback__title">Обратная связь</h3>
                <span class="feedback__subtitle">Оставьте нам заявку по телефону или на нашем сайте</span>
                <form class="form" action="#">
                    <label class="form__label" style="background-image: url(../../images/icons/icon-name.svg);">
                        <input class="form__field" type="text" name="Name" placeholder="Ваше имя">
                    </label>
                    <label class="form__label" style="background-image: url(../../images/icons/icon-mail.svg);">
                        <input class="form__field" type="text" name="Email" placeholder="Email">
                    </label>
                    <label class="form__label form__label--theme"
                        style="background-image: url(../../images/icons/icon-theme.svg);">
                        <input class="form__field" type="text" name="Theme" placeholder="Тема сообщения">
                    </label>
                    <label class="form__label form__label--textarea">
                        <textarea class="form__field form__field--textarea" name="Message"
                            placeholder="Текст сообщения:"></textarea>
                    </label>
                    <span class="form__text">
                        Подтвердите адрес электронной почты в письме, которое было отправлено на
                        ваш эл. адрес!
                    </span>
                    <button class="form__btn btn" type="submit">Написать нам</button>
                </form>
            </div>
            <div class="feedback__connect">
                <h3 class="feedback__title">Контакты</h3>
                <ul class="connection">
                    <li class="connection__item" style="background-image: url('images/icons/icon1.svg');">
                        Адрес: Киев, ул. Богомольцаб 23
                    </li>
                    <li class="connection__item" style="background-image: url('images/icons/icon2.svg');">
                        <a class="connection__link" href="mail:info@bohemia.shop">Email: info@bohemia.shop</a>
                    </li>
                    <li class="connection__item" style="background-image: url('images/icons/icon3.svg');">
                        <a class="connection__link" href="tel:+17866733333">Телефон: +1 (786) 67333333</a>
                    </li>
                    <li class="connection__item" style="background-image: url('images/icons/icon4.svg');">
                        Работаем 24/7
                    </li>
                </ul>
                <iframe class="feedback__map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1270.0626544933048!2d30.366955130265872!3d50.45739120314811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc919501b4ef%3A0x71a476f68f4c8246!2z0YPQuy4g0KTQtdC-0LTQvtGA0Ysg0J_Rg9GI0LjQvdC-0LksIDEzLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1636634496473!5m2!1sru!2sua"
                    loading="lazy" width="405" height="200">
                </iframe>
            </div>
        </div>
    </div>
</section>