<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-inner">
                <ul class="contacts">
                    <li class="contacts__item">
                        Telephone:
                        <a class="contacts__link" href="tel:+17866733333">+1 (786) 67333333</a>
                    </li>
                    <li class="contacts__item">
                        EMAIL:
                        <a class="contacts__link" href="mail:info@bohemia.shop">info@bohemia.shop</a>
                    </li>
                    <li class="contacts__item">
                        chat:
                        <a class="contacts__link" href="#">
                            Support_
                            <span class="contacts__link--support">online</span>
                        </a>
                    </li>
                </ul>
                <ul class="header__user-nav">
                    <li class="header__user-item">
                        <a class="header__btn btn" href="#">Вход</a>
                        <div class="header__pop-up" style="background-image: url('images/content/Lock-error.svg');">
                            По техническим причинам функционал сайта будет доступен с 2023года
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <nav class="header__nav nav">
                <a class="nav__logo" href="#home">
                    <img src="images/logo.svg" width="100" height="90" alt="Логотип bohemia.shop">
                </a>
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="#home">Главная</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#about">О нас</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#sale">Оптовикам</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#request">Оставить запрос</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#contact">Контакты</a>
                    </li>
                </ul>
                <div class="header__menu">
                    <button class="menu-btn" type="button">
                        <span class="sr-only">вызов меню</span>
                        <span class="menu-btn__line"></span>
                    </button>
                    <ul class="header__menu-list">
                        <li class="header__menu-item">
                            <a class="header__menu-link" href="#home">Главная</a>
                        </li>
                        <li class="header__menu-item">
                            <a class="header__menu-link" href="#about">О нас</a>
                        </li>
                        <li class="header__menu-item">
                            <a class="header__menu-link" href="#sale">Оптовикам</a>
                        </li>
                        <li class="header__menu-item">
                            <a class="header__menu-link" href="#request">Оставить запрос</a>
                        </li>
                        <li class="header__menu-item">
                            <a class="header__menu-link" href="#contact">Контакты</a>
                        </li>
                        <li class="header__menu-item">
                            <a class="header__btn btn" href="#">Вход</a>
                            <div class="header__pop-up" style="background-image: url('images/content/Lock-error.svg');">
                                По техническим причинам функционал сайта будет доступен с 2023года
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>