<section class="request section" id="request">
    <div class="container">
        <h2 class="title">Оставьте заявку на поиск товара
        </h2>
        <p class="request__text">
            Клиентам предлагаем два варианта оформления заказа. Первый – в любое время Вы можете заказать посуду по
            телефону. При возникновении дополнительных вопросов менеджер с удовольствием на них ответит. Второй вариант
            - получить доступ ко всем оптовым ценам на торговой площадке, пройдя регистрацию на сайте bohemia.shop
            Ждем Ваши заказы!
        </p>
        <form class="request__form" action="#" style="background-image: url('images/background/company-bg.png');">
            <div class="request__form-fill">
                <label class="request__label">
                    <input class="request__field" name="Name" type="text" placeholder="Name">
                </label>
                <label class="request__label">
                    <input class="request__field" name="Telephone" type="tel" placeholder="Telephone">
                </label>
                <label class="request__label">
                    <input class="request__field" name="Email" type="email" placeholder="Email">
                </label>
            </div>
            <div class="request__checkbox">
                <div class="request__item request__item--drop">
                    <button class="categories-button" type="button">
                        <span class="categories-button__text">Категории</span>
                        <svg class="categories-button__icon" width="12" height="12">
                            <use xlink:href="images/sprite.svg#polygon"></use>
                        </svg>
                    </button>
                    <div class="request__drop-down drop-down">
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="categories" value="Sets">
                            <span class="drop-down__check"></span>
                            Наборы
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="categories" value="Drinking sets">
                            <span class="drop-down__check"></span>
                            Наборы для питья
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="categories" value="Glasses">
                            <span class="drop-down__check"></span>
                            Рюмки
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="categories" value="glasses">
                            <span class="drop-down__check"></span>
                            Стаканы
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="categories" value="salad bowls">
                            <span class="drop-down__check"></span>
                            Салатници
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="categories" value="Vases">
                            <span class="drop-down__check"></span>
                            Вазы
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="categories" value="sugar bowls">
                            <span class="drop-down__check"></span>
                            Сахарници
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="categories" value="wine glasses">
                            <span class="drop-down__check"></span>
                            Фужеры
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="categories" value="dishes">
                            <span class="drop-down__check"></span>
                            Блюда
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="categories" value="Capacities">
                            <span class="drop-down__check"></span>
                            Емкости
                        </label>
                    </div>
                </div>
                <div class="request__item request__item--drop">
                    <button class="categories-button" type="button">
                        <span class="categories-button__text">Предназначение</span>
                        <svg class="categories-button__icon" width="12" height="12">
                            <use xlink:href="images/sprite.svg#polygon"></use>
                        </svg>
                    </button>
                    <div class="request__drop-down drop-down">
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="purpose" value="#">
                            <span class="drop-down__check"></span>
                            Для бренди
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="purpose" value="#">
                            <span class="drop-down__check"></span>
                            Для вина
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="purpose" value="#">
                            <span class="drop-down__check"></span>
                            Для шампанского
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="purpose" value="#">
                            <span class="drop-down__check"></span>
                            Для виски
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="purpose" value="#">
                            <span class="drop-down__check"></span>
                            Для сока
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="purpose" value="#">
                            <span class="drop-down__check"></span>
                            Для мартини
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="purpose" value="#">
                            <span class="drop-down__check"></span>
                            Для чая
                        </label>
                    </div>
                </div>
                <div class="request__item request__item--drop">
                    <button class="categories-button" type="button">
                        <span class="categories-button__text">Материал</span>
                        <svg class="categories-button__icon" width="12" height="12">
                            <use xlink:href="images/sprite.svg#polygon"></use>
                        </svg>
                    </button>
                    <div class="request__drop-down drop-down">
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="Models" value="#">
                            <span class="drop-down__check"></span>
                            Богемское стекло
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="Models" value="#">
                            <span class="drop-down__check"></span>
                            Стекло
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="Models" value="#">
                            <span class="drop-down__check"></span>
                            Прозрачное чешское стекло
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="Models" value="#">
                            <span class="drop-down__check"></span>
                            Хрусталь
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="Models" value="#">
                            <span class="drop-down__check"></span>
                            Хрустальное стекло
                        </label>
                    </div>
                </div>
                <div class="request__item request__item--drop">
                    <button class="categories-button" type="button">
                        <span class="categories-button__text">Цена</span>
                        <svg class="categories-button__icon" width="12" height="12">
                            <use xlink:href="images/sprite.svg#polygon"></use>
                        </svg>
                    </button>
                    <div class="request__drop-down drop-down">
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="Price" value="#">
                            <span class="drop-down__check"></span>
                            100
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="Price" value="#">
                            <span class="drop-down__check"></span>
                            500
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="Price" value="#">
                            <span class="drop-down__check"></span>
                            5000
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="Price" value="#">
                            <span class="drop-down__check"></span>
                            6000
                        </label>
                    </div>
                </div>
                <div class="request__item request__item--drop">
                    <button class="categories-button" type="button">
                        <span class="categories-button__text">Серия</span>
                        <svg class="categories-button__icon" width="12" height="12">
                            <use xlink:href="images/sprite.svg#polygon"></use>
                        </svg>
                    </button>
                    <div class="request__drop-down drop-down">
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="series" value="#">
                            <span class="drop-down__check"></span>
                            ANGELA 4060
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="series" value="#">
                            <span class="drop-down__check"></span>
                            ANTIK
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="series" value="#">
                            <span class="drop-down__check"></span>
                            BLADE
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="series" value="#">
                            <span class="drop-down__check"></span>
                            BOHO
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="series" value="#">
                            <span class="drop-down__check"></span>
                            GT
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="series" value="#">
                            <span class="drop-down__check"></span>
                            CALYPSO
                        </label>
                    </div>
                </div>
                <button class="request__item btn-anime" type="submit" href="#">
                    <span class="btn-anime__1"></span>
                    <span class="btn-anime__2"></span>
                    <span class="btn-anime__3"></span>
                    <span class="btn-anime__4"></span>
                    Отправить
                </button>
            </div>
        </form>
    </div>
</section>