<section class="sale section" id="sale">
    <div class="container">
        <h2 class="title">КОРПОРАТИВНЫМ КЛИЕНТАМ ПРЕДЛАГАЕМ ОПТОВЫЕ ЦЕНЫ</h2>
        <p class="sale__text">
            Если Вам необходимо купить посуду оптом из богемского стекла, то широкий ассортимент Вы найдете в
            интернет-магазине bohemia.shop Специально для Вас мы подобрали исключительно качественные товары от
            производителей чешской посуды. В каталоге Вы найдете продукцию разных торговых марок, что позволит подобрать
            необходимые Вам модели.
        </p>
        <div data-ref="container-1">
            <ul class="sale__categories categories">
                <li class="categories__item categories__item--drop">
                    <button class="categories-button" type="button">
                        <span class="categories-button__text">Материал</span>
                        <svg class="categories-button__icon" width="12" height="12">
                            <use xlink:href="images/sprite.svg#polygon"></use>
                        </svg>
                    </button>
                    <div class="categories__drop-down drop-down">
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="material" value="#">
                            <span class="drop-down__check"></span>
                            богемское стекло
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="material" value="#">
                            <span class="drop-down__check"></span>
                            прозрачное чешское стекло
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="material" value="#">
                            <span class="drop-down__check"></span>
                            хрусталь
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="material" value="#">
                            <span class="drop-down__check"></span>
                            стекло
                        </label>
                    </div>
                </li>
                <li class="categories__item categories__item--drop">
                    <button class="categories-button" type="button">
                        <span class="categories-button__text">Категория</span>
                        <svg class="categories-button__icon" width="12" height="12">
                            <use xlink:href="images/sprite.svg#polygon"></use>
                        </svg>
                    </button>
                    <div class="categories__drop-down drop-down">
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="category" value="#">
                            <span class="drop-down__check"></span>
                            Бокалы
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="category" value="#">
                            <span class="drop-down__check"></span>
                            Салатници
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="category" value="#">
                            <span class="drop-down__check"></span>
                            Чашки
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="category" value="#">
                            <span class="drop-down__check"></span>
                            Тарелки
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="category" value="#">
                            <span class="drop-down__check"></span>
                            Блюда
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="category" value="#">
                            <span class="drop-down__check"></span>
                            Вазы
                        </label>
                    </div>
                </li>
                <li class="categories__item categories__item--drop">
                    <button class="categories-button" type="button">
                        <span class="categories-button__text">Цена</span>
                        <svg class="categories-button__icon" width="12" height="12">
                            <use xlink:href="images/sprite.svg#polygon"></use>
                        </svg>
                    </button>
                    <div class="categories__drop-down drop-down">
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="price" value="#">
                            <span class="drop-down__check"></span>
                            от 1000
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="price" value="#">
                            <span class="drop-down__check"></span>
                            от 5000
                        </label>
                        <label class="drop-down__label">
                            <input class="drop-down__input" type="radio" name="price" value="#">
                            <span class="drop-down__check"></span>
                            от 10000
                        </label>
                    </div>
                </li>
                <li class="categories__item">
                    <button class="categories__btn btn" type="button">Поиск</button>
                </li>
            </ul>
            <ul class="sale__container">
                <li class="sale__item">
                    <article class="product-card">
                        <a class="product-card__link" href="#">
                            <img class="product-card__img" src="images/products/img-1.jpg" alt="Оливия">
                        </a>
                        <div class="product-card__wrap">
                            <h3 class="product-card__title">Бокал Оливия 210мл</h3>
                            <span class="product-card__model">Оливия(40346/210)</span>
                            <div class="product-card__inner">
                                <span class="product-card__rate">Цена</span>
                                <span class="product-card__price">$10</span>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="sale__item">
                    <article class="product-card">
                        <a class="product-card__link" href="#">
                            <img class="product-card__img" src="images/products/img-2.jpg" alt="Bohemia Pilot">
                        </a>
                        <div class="product-card__wrap">
                            <h3 class="product-card__title">Бокалы для красного вина</h3>
                            <span class="product-card__model">Bohemia Pilot(23242/10)</span>
                            <div class="product-card__inner">
                                <span class="product-card__rate">Цена</span>
                                <span class="product-card__price">$15</span>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="sale__item">
                    <article class="product-card">
                        <a class="product-card__link" href="#">
                            <img class="product-card__img" src="images/products/img-3.jpg" alt="Bohemia Pinkwile">
                        </a>
                        <div class="product-card__wrap">
                            <h3 class="product-card__title">Бокалы для шампанского Bohemia Pinkwile</h3>
                            <span class="product-card__model">Bohemia Pinkwile(18438/20)</span>
                            <div class="product-card__inner">
                                <span class="product-card__rate">Цена</span>
                                <span class="product-card__price">$18</span>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="sale__item">
                    <article class="product-card">
                        <a class="product-card__link" href="#">
                            <img class="product-card__img" src="images/products/img-4.jpg" alt="Bohemia Rainbow">
                        </a>
                        <div class="product-card__wrap">
                            <h3 class="product-card__title">Фужеры для вина цветные</h3>
                            <span class="product-card__model">Bohemia Rainbow(1811/2440)</span>
                            <div class="product-card__inner">
                                <span class="product-card__rate">Цена</span>
                                <span class="product-card__price">$15</span>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="sale__item">
                    <article class="product-card">
                        <a class="product-card__link" href="#">
                            <img class="product-card__img" src="images/products/img-5.jpg" alt="Globus Bohemia">
                        </a>
                        <div class="product-card__wrap">
                            <h3 class="product-card__title">Ваза Globus Bohemia</h3>
                            <span class="product-card__model">Globus Bohemia 30.5 см(9041/22)</span>
                            <div class="product-card__inner">
                                <span class="product-card__rate">Цена</span>
                                <span class="product-card__price">$40</span>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="sale__item">
                    <article class="product-card">
                        <a class="product-card__link" href="#">
                            <img class="product-card__img" src="images/products/img-6.jpg"
                                alt="Cristalite Bohemia Metropolitan">
                        </a>
                        <div class="product-card__wrap">
                            <h3 class="product-card__title">Фруктовница на ножке 33см</h3>
                            <span class="product-card__model">Cristalite Bohemia Metropolitan</span>
                            <div class="product-card__inner">
                                <span class="product-card__rate">Цена</span>
                                <span class="product-card__price">$100</span>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="sale__item">
                    <article class="product-card">
                        <a class="product-card__link" href="#">
                            <img class="product-card__img" src="images/products/img-7.jpg" alt="Taurus Bohemia">
                        </a>
                        <div class="product-card__wrap">
                            <h3 class="product-card__title">Сахарница на ножке с крышечкой</h3>
                            <span class="product-card__model">Taurus Bohemia (676211/13)</span>
                            <div class="product-card__inner">
                                <span class="product-card__rate">Цена</span>
                                <span class="product-card__price">$80</span>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="sale__item">
                    <article class="product-card">
                        <a class="product-card__link" href="#">
                            <img class="product-card__img" src="images/products/img-8.jpg" alt="Bohemia Penkheel">
                        </a>
                        <div class="product-card__wrap">
                            <h3 class="product-card__title">Сахарница маленькая</h3>
                            <span class="product-card__model">Bohemia Penkheel(56518/24)</span>
                            <div class="product-card__inner">
                                <span class="product-card__rate">Цена</span>
                                <span class="product-card__price">$15</span>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>